.asm-coverage-chart { 
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 0.2rem;
 
  &__item {
    display: flex;
    align-content: center;
    align-items: center;
    
    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }

    &-text {
      font-size: 0.8rem;
      margin-right: 1rem;
      width: 12rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
    }

    &-progress {
      flex: 1 1 auto;
    }
  }

  &__x-axis {
    position: absolute;
    left: 13rem;
    width: calc(100% - 13rem);
    height: 100%;
    border-bottom: 1px solid grey;
    
    &-item {
      position: absolute;
      bottom: 0;
      height: 100%;

      &-text {
        position: absolute;
        font-size: 0.7rem;
        bottom: -1.5rem;
        transform: translateX(-50%);
      }
  
      &-line {
        position: absolute;
        bottom: 0;
        border-left: 1px dashed grey;
        opacity: 0.3;
        height: 100%;
        left: 50%;
      }
    }
  }
}
