.asm-coverage-chart { 
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 0.2rem;
 
  &__x-axis {
    position: absolute;
    left: 13rem;
    width: calc(100% - 13rem);
    height: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 2rem;
    
    &-label {
      position: absolute;
      font-size: 0.8rem;
      transform: translateX(-50%);
      bottom: -1.5rem;
    }

    &-divider {
        position: absolute;
        top: 0;
        border-right: 1px dashed grey;
        opacity: 0.3;
        height: 100%;
        width: 0;
    }
  }
  
  &__item {
    display: flex;
    align-content: center;
    align-items: center;

    &-label {
      font-size: 13px;
      margin-right: 1rem;
      width: 12rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
    }

    &-progress {
      cursor: pointer;
      flex: 1 1 auto;
    }
  }
}
